<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @feedback.description %>
</p>

<p>
  <strong>Reservation:</strong>
  <%= @feedback.reservation %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
