<p id="notice"><%= notice %></p>

<h1>Listing Operators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Mail</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operators.each do |operator| %>
      <tr>
        <td><%= operator.name %></td>
        <td><%= operator.lastname %></td>
        <td><%= operator.mail %></td>
        <td><%= operator.password %></td>
        <td><%= link_to 'Show', operator %></td>
        <td><%= link_to 'Edit', edit_operator_path(operator) %></td>
        <td><%= link_to 'Destroy', operator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operator', new_operator_path %>
