<%= simple_form_for(@reservation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :passengersquantity %>
    <%= f.input :vehicletype %>
    <%= f.input :originaddress %>
    <%= f.input :destinationaddress %>
    <%= f.input :price %>
    <%= f.input :date %>
    <%= f.association :vehicle %>
    <%= f.association :user %>
    <%= f.association :operator %>
    <%= f.association :status %>
    <%= f.association :paymenttype %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
