<p id="notice"><%= notice %></p>

<h1>Listing Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad de Pasajeros</th>
      <th>Tipo de Vehiculo</th>
      <th>Direccion Origen</th>
      <th>Direccion Destino</th>
      <th>Precio</th>
      <th>Vehiculo</th>
      <th>Usuario</th>
      <th>Operador</th>
      <th>Estado</th>
      <th>Tipo de Pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.passengersquantity %></td>
        <td><%= reservation.vehicletype %></td>
        <td><%= reservation.beginningadress %></td>
        <td><%= reservation.destinationadress %></td>
        <td><%= reservation.price %></td>
        <td><%= reservation.vehicle %></td>
        <td><%= reservation.user %></td>
        <td><%= reservation.operator %></td>
        <td><%= reservation.status %></td>
        <td><%= reservation.paymenttype %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
