<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad de Pasajeros:</strong>
  <%= @reservation.passengersquantity %>
</p>

<p>
  <strong>Tipo de Vehiculo:</strong>
  <%= @reservation.vehicletype %>
</p>

<p>
  <strong>Direccion Origen:</strong>
  <%= @reservation.beginningadress %>
</p>

<p>
  <strong>Direccion Destino:</strong>
  <%= @reservation.destinationadress %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @reservation.price %>
</p>

<p>
  <strong>Vehiculo:</strong>
  <%= @reservation.vehicle %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @reservation.user %>
</p>

<p>
  <strong>Operador:</strong>
  <%= @reservation.operator %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @reservation.status %>
</p>

<p>
  <strong>Tipo de Pago:</strong>
  <%= @reservation.paymenttype %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
