<<<<<<< HEAD
<li><%= link_to "SERVICIOS", "/path2"  %></li>
<li><%= link_to "QUIENES SOMOS", "/path2"  %></li>
<li><%= link_to "TESTIMONIOS", "/path3"  %></li>
<li><%= link_to "CONTACTANOS", "/path4"  %></li>
=======
<li><%= link_to "QUIENES SOMOS", quienes_path  %></li>
<li><%= link_to "SERVICIOS", servicios_path  %></li>
<li><%= link_to "TESTIMONIOS", testimonios_path  %></li>
<li><%= link_to "CONTACTANOS", contactanos_path  %></li>
>>>>>>> 6b9d86a4fe42b88246134a16fd9d41fe300d505e
<li><%= link_to "VEHICULOS", vehicles_path  %></li>
<li><%= link_to "CHOFERES", drivers_path  %></li>
