<li><%= link_to "QUIENES SOMOS", quienes_path  %></li>
<li><%= link_to "SERVICIOS", servicios_path  %></li>
<li><%= link_to "TESTIMONIOS", testimonios_path  %></li>
<li><%= link_to "CONTACTANOS", contactanos_path  %></li>
<li><%= link_to "VEHICULOS", vehicles_path  %></li>
<li><%= link_to "CHOFERES", drivers_path  %></li>
