<li><%= link_to "QUIENES SOMOS", "/path1"  %></li>
<li><%= link_to "SERVICIOS", "/path2"  %></li>
<li><%= link_to "TESTIMONIOS", "/path3"  %></li>
<li><%= link_to "CONTACTANOS", "/path4"  %></li>
<li><%= link_to "VEHICULOS", vehicles_path  %></li>
<li><%= link_to "CHOFERES", drivers_path  %></li>