<%= simple_form_for(@vehicle) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :trademark %>
    <%= f.input :model %>
    <%= f.input :creationyear %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
